:root{
    --border-width:2px;
}

.icon-arxiv{
    d: path('m -9.9410431,-14.99968 c -0.5073999,-0.01148 -0.9709179,0.286808 -1.1710609,0.753208 -0.190315,0.456754 -0.05392,0.777194 0.364229,1.376481 l 8.5628948,10.3415562 -1.5295162,1.65408655 c -0.464395,0.49660899 -0.4626568,1.26860233 0.00411,1.76298581 l 1.5171407,1.62108824 -6.731848,7.9882952 c -0.347155,0.370371 -0.5628616,1.019842 -0.3687667,1.484966 0.1977647,0.480522 0.6683727,0.792084 1.1879728,0.78662 0.3325437,-0.0083 0.6445057,-0.162801 0.853031,-0.421978 L -0.10067811,4.7462513 9.1894373,14.67449 c 0.219546,0.229113 0.5305248,0.347407 0.8468437,0.322155 0.483615,-0.0082 0.913536,-0.309085 1.086914,-0.760633 0.194098,-0.466196 -0.02041,-0.928627 -0.377843,-1.412369 L 2.0157856,2.4973513 3.5968629,0.81686386 c 0.4329582,-0.45569649 0.4378142,-1.16904411 0.011133,-1.63057524 l -0.00123,4.122e-4 L 2.0001149,-2.5502973 8.332259,-10.319973 c 0.4027683,-0.536928 0.5937217,-0.817984 0.4025914,-1.275008 -0.2051279,-0.493724 -0.6755086,-0.825991 -1.2094231,-0.853857 -0.300452,-0.01694 -0.5942973,0.09148 -0.8117812,0.299468 l -6.79615926,7.3485229 -8.90691214,-9.6250589 c 0,0 -0.4627349,-0.561896 -0.9516157,-0.573774 z m 17.395971,3.093679 c 0.023571,-2.59e-4 0.047234,6.4e-4 0.070538,0.0025 0.3263687,0.02646 0.62157,0.25824 0.7301084,0.570062 0.042238,0.239629 -0.1871614,0.423337 -0.299055,0.613787 -2.1049167,2.5930652 -4.2173725,5.1802119 -6.328021,7.7688502 L 0.28584128,-4.4023901 c 2.11207022,-2.2838 4.22419192,-4.567417 6.33544492,-6.8518839 0.2471434,-0.219736 0.4138804,-0.578635 0.7626955,-0.64761 0.023715,-0.0025 0.047378,-0.0038 0.070949,-0.0041 z m -9.2913541,9.7987184 1.40040635,1.69162423 C -0.55038676,-0.27519997 -0.6648688,-0.13498314 -0.77921206,0.00549479 -0.82966397,0.13019879 6.3730747,8.4902866 9.8118991,12.555937 10.123954,12.960965 10.5715,13.323959 10.65503,13.854458 10.654817,14.360974 9.9429021,14.659834 9.5837918,14.300773 5.2979598,9.7319154 1.0221174,5.1525629 -3.2599317,0.57968232 -3.5646713,0.30432777 -3.6063538,-0.20411295 -3.3168494,-0.50558057 -2.8239185,-1.0399699 -2.3297211,-1.5731997 -1.83642,-2.1072826 Z');
    opacity: 1;
    transform: translate(50%,50%);
    fill:white;
    transition:.3s;
}

.icon-google{
    d: path('m -3.4108477,-15 -9.9988853,8.7837768 h 6.4480052 c 0.467239,4.2051477 3.8314512,5.9808146 7.2890139,6.2611602 -0.6541301,1.6820557 -0.3737599,2.5231361 0.6541633,3.6445068 -4.0182484,0.093453 -9.6251942,2.4298048 -9.6251942,6.2611595 0.373793,4.2051427 5.8873618,5.0460517 8.5973406,5.0460517 3.5510094,0.09345 7.5690616,-1.77538 8.4100855,-5.0460517 C 8.7374728,6.6799336 7.4293729,4.9043616 5.4669653,3.3157527 3.3176707,1.6336915 2.8503446,0.6989903 3.5044755,-0.4223812 4.9061918,-2.01099 6.7751899,-2.9452134 7.1489822,-5.1879603 7.3358756,-6.7765692 6.9618293,-7.8044412 6.588037,-9.2061572 l 4.205451,-3.5512888 -0.09363,1.495172 c -0.280344,0.186892 -0.467317,0.560662 -0.467317,0.841008 v 9.6251946 c 0.186894,1.2148229 2.055888,1.0279232 2.149335,0 v -9.6251946 c 0,-0.280346 -0.186972,-0.653935 -0.467318,-0.747381 v -2.336181 L 13.409733,-15 Z m 2.5868068,3.844845 c 4.7372044,-0.115508 6.8413758,8.1733568 2.8333446,9.3312292 -5.700304,0.9344773 -8.1298138,-8.1301264 -3.5508796,-9.2515032 0.2452997,-0.04818 0.4845579,-0.07405 0.717535,-0.07973 z M 1.5419856,4.9977703 c 5.6068573,1.2148158 5.7004702,5.8872967 0.9346355,7.2890127 -4.1116943,0.841024 -7.6629324,-0.373858 -7.5694857,-2.8034979 0,-2.336194 3.2707326,-4.4855148 6.6348502,-4.4855148 z');
    opacity: 1;
    transform: translate(50%,50%);
    fill:white;
    transition:.3s;
}


.icon-orcid{
    d: path('m 0,-13.5 c -7.456622,0 -13.5,6.04338 -13.5,13.5 0,7.456621 6.043378,13.5 13.5,13.5 C 7.45662,13.5 13.5,7.456621 13.5,0 13.5,-7.45662 7.45662,-13.5 0,-13.5 Z m -5.210004,4.925405 c 0.590624,0 1.065185,0.485107 1.065185,1.065184 0,0.580078 -0.474561,1.065186 -1.065185,1.065186 -0.590625,0 -1.065543,-0.485108 -1.065543,-1.065186 0,-0.590625 0.474918,-1.065184 1.065543,-1.065184 z m -0.812168,3.416989 h 1.623977 v 5.104849 6.19085 h -1.623977 z m 4.007724,0 h 4.387427 c 4.176552,0 6.011764,2.984879 6.011764,5.653232 0,2.900382 -2.267553,5.653234 -5.990589,5.653234 h -4.408602 z m 1.624335,1.466065 v 8.374335 h 2.584006 c 3.680851,0 4.524525,-2.794984 4.524525,-4.187168 0,-2.267572 -1.444808,-4.187167 -4.608863,-4.187167 z');
    opacity: 1;
    transform: translate(50%,50%);
    fill:white;
    transition:.3s;
}


.icon-cvgmt{
    d: path('m -4.761914,-11.130146 c -0.905689,0 -1.741138,0.214551 -2.506772,0.644053 -0.756299,0.420167 -1.358838,1.008364 -1.807014,1.764661 -0.438839,0.756297 -0.658171,1.610488 -0.658171,2.56286 0,0.9523785 0.219332,1.8065631 0.658171,2.5628606 0.448176,0.7562967 1.050715,1.3496564 1.807014,1.7791597 0.756297,0.4201619 1.591746,0.6303181 2.506772,0.6303181 1.0364089,0 1.9563745,-0.2524122 2.7593573,-0.7566106 0.8123192,-0.5041983 1.4001368,-1.2231919 1.7642793,-2.1568928 h -1.918425 c -0.2520999,0.5135391 -0.6022264,0.896744 -1.0504023,1.1488424 -0.4481768,0.2520985 -0.9665771,0.3781141 -1.5548093,0.3781141 -0.644253,0 -1.218111,-0.1447555 -1.722309,-0.4342021 -0.504199,-0.2987875 -0.901365,-0.7187071 -1.190813,-1.2602537 -0.28011,-0.5415466 -0.420085,-1.1723852 -0.420085,-1.8913357 0,-0.718949 0.139975,-1.349026 0.420085,-1.890571 0.289448,-0.541548 0.686614,-0.957071 1.190813,-1.246519 0.504198,-0.289447 1.078056,-0.43382 1.722309,-0.43382 0.5882322,0 1.1066325,0.125634 1.5548093,0.377732 0.4481759,0.2521 0.7983024,0.634927 1.0504023,1.148461 h 1.918425 c -0.3641425,-0.933702 -0.9519601,-1.652313 -1.7642793,-2.156511 -0.8029828,-0.513534 -1.7229484,-0.770346 -2.7593573,-0.770346 z m 5.6026556,0.125529 3.6689681,9.7340612 H 6.3586929 L 10.013926,-11.004617 H 8.3335872 L 5.4342013,-2.909306 2.5489335,-11.004617 Z M -10.027662,1.1862334 c -0.90569,0 -1.74152,0.2149327 -2.507154,0.6444353 -0.756297,0.420161 -1.358455,1.0079758 -1.806632,1.7642792 C -14.780287,4.3512446 -15,5.2061993 -15,6.1585719 c 0,0.952377 0.219713,1.806563 0.658552,2.5628601 0.448177,0.756297 1.050335,1.348893 1.806632,1.778396 0.756296,0.420163 1.592127,0.630318 2.507154,0.630318 0.849668,0 1.620098,-0.186636 2.311038,-0.560113 0.700275,-0.38282 1.264953,-0.892043 1.694456,-1.526956 0.43884,-0.6349181 0.709609,-1.3300091 0.812316,-2.0863061 V 5.7098704 h -5.364188 v 1.2743715 h 3.655233 c -0.121381,0.830999 -0.452386,1.489753 -0.993932,1.975276 -0.541547,0.485526 -1.24658,0.727994 -2.114923,0.727994 -0.644253,0 -1.218873,-0.1447559 -1.723073,-0.434202 -0.504197,-0.289453 -0.900983,-0.700197 -1.19043,-1.232402 -0.280111,-0.541546 -0.420085,-1.162058 -0.420085,-1.862337 0,-0.7002725 0.139974,-1.3171542 0.420085,-1.8493645 0.289447,-0.532211 0.686233,-0.9429538 1.19043,-1.2324012 0.5042,-0.2894467 1.07882,-0.4338204 1.723073,-0.4338204 0.588232,0 1.106634,0.1256339 1.55481,0.377733 0.448176,0.2427636 0.797921,0.6072331 1.05002,1.0927544 h 1.918807 C -5.868169,3.1797713 -6.456366,2.4607784 -7.268686,1.9565794 -8.07167,1.4430455 -8.991254,1.1862334 -10.027662,1.1862334 Z m 6.3863551,0.1262925 v 9.7336791 h 1.59678 V 4.3794116 L 0.9387992,11.046205 H 2.0449079 L 5.014117,4.3794116 V 11.046205 H 6.6105152 V 1.3125259 H 4.9023233 l -3.4034112,7.632874 -3.4175283,-7.632874 z m 11.8486016,0 v 1.3022248 h 2.6052123 v 8.4314543 h 1.59678 V 2.6147507 H 15 V 1.3125259 Z');
    opacity: 1;
    transform: translate(50%,50%);
    fill:white;
    transition:.3s;
}

.icon-rgate{
    d: path('m -6.2696415,-12.718345 c -3.572596,0 -6.4487025,2.876107 -6.4487025,6.448702 V 6.269643 c 0,3.572595 2.8761065,6.448702 6.4487025,6.448702 h 12.539285 c 3.5726,0 6.4487005,-2.876107 6.4487005,-6.448702 V -6.269643 c 0,-3.572595 -2.8761005,-6.448702 -6.4487005,-6.448702 z m 11.878345,4.597135 c 0.83925,-8.87e-4 1.69212,0.288503 2.13837,0.851628 0.36,0.449999 0.32998,0.590007 -0.17002,0.740006 -0.39,0.13 -0.38982,0.13004 -0.74982,-0.22996 -0.85,-0.819999 -2.3202,-0.51998 -2.5802,0.540019 -0.13,0.469999 -0.12019,2.4599 0.00981,2.9099 0.35,1.269999 2.45999,1.269999 2.81999,0 0.22,-0.809999 0.17004,-0.869841 -0.79995,-0.919841 -0.47,-0.02 -0.46974,-0.020311 -0.46974,-0.410311 0,-0.379999 -1.7e-4,-0.379794 1.11983,-0.409794 1.44999,-0.03 1.43012,-0.050241 1.36012,1.009758 -0.09,1.329999 -0.45033,1.970244 -1.32033,2.350244 -0.57,0.24 -1.34976,0.330142 -1.94976,0.220142 -1.54999,-0.29 -2.060237,-1.240398 -1.980237,-3.680396 0.04,-1.349999 0.150239,-1.719965 0.670247,-2.279964 0.43125,-0.464062 1.16117,-0.690648 1.90169,-0.691431 z m -9.606649,3.952731 c 2.880114,-0.015586 3.579789,0.188878 4.524788,1.028877 1.129999,1.009999 1.290156,2.550077 0.390157,3.840076 -0.4,0.579999 -1.200045,1.199887 -1.820044,1.429887 -0.29,0.11 -0.5302,0.229751 -0.5302,0.269751 0,0.12 0.920349,1.430103 1.490348,2.130102 1.519999,1.849999 2.339987,2.570011 3.189986,2.790011 0.530004,0.14 0.679684,0.290354 0.529684,0.550354 -0.16,0.27 -0.959627,0.329526 -1.899626,0.139526 -1.429998,-0.279999 -2.280376,-1.109971 -4.450374,-4.329968 -0.72,-1.079999 -0.719553,-1.079647 -1.419552,-1.129647 -1.029999,-0.07 -0.950357,-0.249966 -0.920357,2.020032 0.04,2.579997 0.01017,2.519857 1.500167,2.769857 0.389999,0.06 0.420129,0.089877 0.420129,0.319877 0,0.26 2e-6,0.260086 -2.619995,0.280086 -2.459998,0.02 -2.620121,0.00996 -2.670121,-0.140043 -0.1,-0.29 0.05015,-0.4302 0.590145,-0.5302 0.609999,-0.11 0.929757,-0.359798 1.009757,-0.779798 0.04,-0.159999 0.04997,-2.319709 0.02997,-4.799707 -0.03,-5.209994 0.02982,-4.900282 -0.930175,-5.110282 -0.6,-0.13 -0.789518,-0.270047 -0.709518,-0.510046 0.06,-0.16 0.189721,-0.170142 2.919719,-0.220142 0.507499,-0.01 0.963665,-0.016377 1.37511,-0.018603 z m 0.444934,0.948779 c -1.329999,0 -1.329789,-6.1e-5 -1.349789,2.309936 -0.02,1.269999 -0.01036,2.370343 0.01964,2.430343 0.09,0.21 2.340055,0.099957 2.930054,-0.140043 1.999998,-0.819999 2.150112,-3.570095 0.250114,-4.380095 -0.49,-0.209999 -0.620018,-0.220141 -1.850016,-0.220141 z');
    opacity: 1;
    transform: translate(50%,50%);
    fill:white;
    transition:.3s;
}



/* Text button*/
.rounded-button{
    x:calc(var(--border-width)/2);
    y:calc(var(--border-width)/2);
    height: calc(100% - var(--border-width));
    width: calc(100% - var(--border-width));
    ry:50%;
    stroke-width:var(--border-width);
    fill:white;
    stroke:white;
    transition: fill ease-in-out .5s, stroke ease-in-out .5s;
    z-index: 2
} 
.color{
    fill:var(--main-color);
    stroke:var(--main-color);
    transition: fill ease-in-out .5s, stroke ease-in-out .5s;
}

.inverted{
    fill:black;
    transition: fill .6s;
}
.button-text{
    text-anchor:middle;
    dominant-baseline:central;
    fill:black;
    transition: fill .5s;
}
.button-text tspan{
    text-transform: uppercase;
    font-weight: 600;
}

.rounded-button:hover ~ mask .button-text{
    fill:white;
    transition: fill .5s;
    
}

.rounded-button:hover ~ mask .rounded-button{
    fill:black;
}

.rounded-button:hover ~ mask .inverted{
    fill:white;
    transition: fill .5s;
}
.rounded-button:hover ~ mask path{
    fill:black;
    transition: fill .5s;
}


/*NEWS BUTTON*/
.news-button{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    left: 6.5rem;
    padding: 0px;
    z-index: 600;
    transition: transform .4s ease-in-out;
    pointer-events: all;
}

.cross{
    transform: translateX(1.2rem);
    transition: transform .4s ease-in-out;
}
.news-button .bar {
    --news-bar-length: 15px;
    --news-bar-thickness: 5px;
    --news-bar-offset:calc(15px);
    --news-cross-length:calc(2 * (var(--news-bar-length) - var(--news-bar-thickness) * .5));
    position:relative;
    opacity: 0.4;
    width: var(--news-bar-length);
    height: var(--news-bar-thickness);
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    top:15px;
    left:2px;
    left:calc((var(--news-bar-thickness) * sqrt(2)/2) - var(--news-bar-length) + var(--news-bar-offset));
    transform-origin: left;
    transform: translateX(calc((1 - sqrt(2)/2) * var(--news-bar-length) - (sqrt(2) / 4) *  var(--news-bar-thickness) + 4px)) translateY(calc(var(--news-bar-thickness) * (-.5) - sqrt(2) * (var(--news-bar-thickness) * .5 - var(--news-bar-length)) /2)) rotate(315deg);
    pointer-events: none;
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
    
}

.news-button:hover .bar{
    transform:  scale(1.4) translateX(calc((1 - sqrt(2)/2) * var(--news-bar-length) - (sqrt(2) / 4) *  var(--news-bar-thickness) - 2%)) translateY(calc(var(--news-bar-thickness) * (-.5) - sqrt(2) * (var(--news-bar-thickness) * .5 - var(--news-bar-length)) /2)) rotate(315deg);
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
}

.news-button .bar:after{
    content: "";
    position: absolute;
    width: var(--news-bar-length);
    height: var(--news-bar-thickness);
    transform-origin: left;
    transform: translateY(calc(var(--news-bar-thickness)*.5 - var(--news-bar-length))) translateX(calc(var(--news-bar-length) - var(--news-bar-thickness)*.5)) rotate(90deg);
    background-color: #fff;
    border-radius: 10px 0px 0px 10px;
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
}

.cross .bar {
    width:var(--news-cross-length);
    left:calc((var(--news-bar-thickness) * sqrt(2)/2) - var(--news-bar-length) + var(--news-bar-offset));
    transform: translateX(calc((1 - sqrt(2)/2) * var(--news-bar-length) - (sqrt(2) / 4) *  var(--news-bar-thickness))) translateY(calc(var(--news-bar-thickness) * (-.5) - sqrt(2) * (var(--news-bar-thickness) * .5 - var(--news-bar-length)) /2)) rotate(315deg);
    border-radius: 10px 10px 10px 10px;
    pointer-events: none;
    margin-left: 0px;
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
}

.cross:hover .bar{
    transform:  scale(1.4) translateX(calc((1 - sqrt(2)/2) * var(--news-bar-length) - (sqrt(2) / 4) *  var(--news-bar-thickness) - 12.5%)) translateY(calc(var(--news-bar-thickness) * (-.5) - sqrt(2) * (var(--news-bar-thickness) * .5 - var(--news-bar-length)) /2)) rotate(315deg);
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
}

.cross .bar:after{
    width:var(--news-cross-length);
    border-radius: 10px;
    transition: transform .4s, width .3s ease-in-out .3s, border-radius .4s ease-in-out;
}