.svg_button{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    background: none;
    transform-origin: center;
    border-radius: 4rem;
    max-height: 60px;
    box-shadow: 0px 0px .3rem .2rem rgba(0, 238, 256, .5),inset 0px 0px 0rem 2px rgba(0, 238, 256, 1);
    transition: .4s;
}

.svg_button[data-aligned="left"]{
    transform-origin: left;
}

.svg_button a mask rect{
    transition: .4s;
}

.svg_button a rect:hover ~ mask rect{
    fill:white;
}

.svg_button a rect:hover ~ mask path{
    fill:black;
}

.svg_button a rect:hover ~ mask text{
    fill:black;
}

.svg_button a rect:hover ~ mask rect[data-inverted="true"]{
    fill:black;
}

.svg_button a rect:hover ~ mask text[data-inverted="true"]{
    fill:white;
}

.svg_button a mask text{
    transition: .4s;
}




@media screen and (max-width:600px){
    .svg_button{
        transform: scale(.8);
        transition: .4s;
    }
}