.moon-icon{
    d: path("m 4.2646045,11.629856 c 0,4.430582 3.591679,8.022218 8.0222255,8.022218 3.375756,0 6.264474,-2.085064 7.448645,-5.037506 -0.923983,0.371338 -1.935052,0.580629 -2.991848,0.580629 -4.430591,0 -8.0222255,-3.591635 -8.0222255,-8.0222001 0,-1.0518376 0.206207,-2.0686894 0.574232,-2.9891319 -2.949045,1.1857908 -5.031029,4.0727553 -5.031029,7.445991 z");
    stroke: inherit;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.sun-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("m 16.900288,16.900288 1.442339,1.442339 M 18.930053,12 h 2.039776 M 16.900288,7.0997113 18.342627,5.6573721 M 12,5.0699455 V 3.0301699 M 7.0997113,7.0997113 5.6573721,5.6573722 M 5.0699455,12 H 3.0301699 m 4.0695417,4.900288 -1.4423394,1.442339 M 12,18.930053 v 2.039776 M 16.081782,12 c 0,2.254266 -1.827516,4.081782 -4.081782,4.081782 -2.2543076,0 -4.0817827,-1.827516 -4.0817827,-4.081782 0,-2.2543076 1.8274751,-4.0817827 4.0817827,-4.0817827 2.254266,0 4.081782,1.8274751 4.081782,4.0817827 z");
}

.chat-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 18 9 V 7.2 C 18 6.0799 18 5.51984 17.782 5.09202 C 17.5903 4.71569 17.2843 4.40973 16.908 4.21799 C 16.4802 4 15.9201 4 14.8 4 H 7.2 C 6.0799 4 5.51984 4 5.09202 4.21799 C 4.71569 4.40973 4.40973 4.71569 4.21799 5.09202 C 4 5.51984 4 6.0799 4 7.2 V 18 L 8 16 M 20 20 L 17.8062 18.5374 C 17.5065 18.3377 17.3567 18.2378 17.1946 18.167 C 17.0507 18.1042 16.9 18.0586 16.7454 18.031 C 16.5713 18 16.3912 18 16.0311 18 H 11.2 C 10.0799 18 9.51984 18 9.09202 17.782 C 8.71569 17.5903 8.40973 17.2843 8.21799 16.908 C 8 16.4802 8 15.9201 8 14.8 V 12.2 C 8 11.0799 8 10.5198 8.21799 10.092 C 8.40973 9.71569 8.71569 9.40973 9.09202 9.21799 C 9.51984 9 10.0799 9 11.2 9 H 16.8 C 17.9201 9 18.4802 9 18.908 9.21799 C 19.2843 9.40973 19.5903 9.71569 19.782 10.092 C 20 10.5198 20 11.0799 20 12.2 V 20 Z");
}

.slides-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 3 3 H 5 M 21 3 H 19 M 12 18 L 7 21 M 12 18 L 17 21 M 12 18 V 21 M 12 18 V 15 M 19 3 V 11.8 C 19 12.9201 19 13.4802 18.782 13.908 C 18.5903 14.2843 18.2843 14.5903 17.908 14.782 C 17.4802 15 16.9201 15 15.8 15 H 12 M 19 3 H 5 M 5 3 V 11.8 C 5 12.9201 5 13.4802 5.21799 13.908 C 5.40973 14.2843 5.71569 14.5903 6.09202 14.782 C 6.51984 15 7.0799 15 8.2 15 H 12 M 8 10 L 11 7 L 13 10 L 16 7");
}

.link-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 9.16488 17.6505 C 8.92513 17.8743 8.73958 18.0241 8.54996 18.1336 C 7.62175 18.6695 6.47816 18.6695 5.54996 18.1336 C 5.20791 17.9361 4.87912 17.6073 4.22153 16.9498 C 3.56394 16.2922 3.23514 15.9634 3.03767 15.6213 C 2.50177 14.6931 2.50177 13.5495 3.03767 12.6213 C 3.23514 12.2793 3.56394 11.9505 4.22153 11.2929 L 7.04996 8.46448 C 7.70755 7.80689 8.03634 7.47809 8.37838 7.28062 C 9.30659 6.74472 10.4502 6.74472 11.3784 7.28061 C 11.7204 7.47809 12.0492 7.80689 12.7068 8.46448 C 13.3644 9.12207 13.6932 9.45086 13.8907 9.7929 C 14.4266 10.7211 14.4266 11.8647 13.8907 12.7929 C 13.7812 12.9825 13.6314 13.1681 13.4075 13.4078 M 10.5919 10.5922 C 10.368 10.8319 10.2182 11.0175 10.1087 11.2071 C 9.57284 12.1353 9.57284 13.2789 10.1087 14.2071 C 10.3062 14.5492 10.635 14.878 11.2926 15.5355 C 11.9502 16.1931 12.279 16.5219 12.621 16.7194 C 13.5492 17.2553 14.6928 17.2553 15.621 16.7194 C 15.9631 16.5219 16.2919 16.1931 16.9495 15.5355 L 19.7779 12.7071 C 20.4355 12.0495 20.7643 11.7207 20.9617 11.3787 C 21.4976 10.4505 21.4976 9.30689 20.9617 8.37869 C 20.7643 8.03665 20.4355 7.70785 19.7779 7.05026 C 19.1203 6.39267 18.7915 6.06388 18.4495 5.8664 C 17.5212 5.3305 16.3777 5.3305 15.4495 5.8664 C 15.2598 5.97588 15.0743 6.12571 14.8345 6.34955");
}

.burger-menu-line{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 4 12 H 20");
}

.arrow-down-inbox-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 12 16 V 4 M 12 16 L 9 13 M 12 16 L 15 13 M 7 9 H 6.2 C 5.0799 9 4.51984 9 4.09202 9.21799 C 3.71569 9.40973 3.40973 9.71569 3.21799 10.092 C 3 10.5198 3 11.0799 3 12.2 V 16.8 C 3 17.9201 3 18.4802 3.21799 18.908 C 3.40973 19.2843 3.71569 19.5903 4.09202 19.782 C 4.51984 20 5.0799 20 6.2 20 H 17.8 C 18.9201 20 19.4802 20 19.908 19.782 C 20.2843 19.5903 20.5903 19.2843 20.782 18.908 C 21 18.4802 21 17.9201 21 16.8 V 12.2 C 21 11.0799 21 10.5198 20.782 10.092 C 20.5903 9.71569 20.2843 9.40973 19.908 9.21799 C 19.4802 9 18.9201 9 17.8 9 H 17");
}

.arrow-out-box-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 20 4 L 12 12 M 20 4 V 8.5 M 20 4 H 15.5 M 19 12.5 V 16.8 C 19 17.9201 19 18.4802 18.782 18.908 C 18.5903 19.2843 18.2843 19.5903 17.908 19.782 C 17.4802 20 16.9201 20 15.8 20 H 7.2 C 6.0799 20 5.51984 20 5.09202 19.782 C 4.71569 19.5903 4.40973 19.2843 4.21799 18.908 C 4 18.4802 4 17.9201 4 16.8 V 8.2 C 4 7.0799 4 6.51984 4.21799 6.09202 C 4.40973 5.71569 4.71569 5.40973 5.09202 5.21799 C 5.51984 5 6.07989 5 7.2 5 H 11.5");
}

.arrow-circle-icon{
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 13 15 L 16 12 M 16 12 L 13 9 M 16 12 H 8 M 21 12 C 21 16.9706 16.9706 21 12 21 C 7.02944 21 3 16.9706 3 12 C 3 7.02944 7.02944 3 12 3 C 16.9706 3 21 7.02944 21 12 Z");
}

.arrow-left-icon{ 
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M4 12L10 6M4 12L10 18");
}

.arrow-right-icon{  
    stroke:inherit;
    fill:none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M11 12L5 6 M11 12L5 18");
}

.movie-icon{
    d:path("M 3 9 H 9.5 M 21 9 H 9.5 M 9.5 9 L 14.5 4 M 14.5 4 H 17.8 C 18.8467 4 19.4044 4 19.8221 4.1779 M 14.5 4 H 6.2 C 5.07989 4 4.51984 4 4.09202 4.21799 C 3.71569 4.40973 3.40973 4.71569 3.21799 5.09202 C 3 5.51984 3 6.07989 3 7.2 V 16.8 C 3 17.9201 3 18.4802 3.21799 18.908 C 3.40973 19.2843 3.71569 19.5903 4.09202 19.782 C 4.51984 20 5.07989 20 6.2 20 H 17.8 C 18.9201 20 19.4802 20 19.908 19.782 C 20.2843 19.5903 20.5903 19.2843 20.782 18.908 C 21 18.4802 21 17.9201 21 16.8 V 7.2 C 21 6.07989 21 5.51984 20.782 5.09202 C 20.5903 4.71569 20.2843 4.40973 19.908 4.21799 C 19.88 4.20371 19.8514 4.19037 19.8221 4.1779 M 9 4 L 4 9 M 15 9.00015 L 19.8221 4.1779 M 15 14.5 L 10 17.5 V 11.5 L 15 14.5 Z");
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: inherit;
}


.bubble{
    d:path("m 9.7912355,3.8297757 c -2.04823,-0.024 -3.92965,0.2117 -5.36298,0.8382 -2.00665,0.8770999 -3.1355401,2.5215999 -3.67057008,4.4163 -0.0764,0.2706 -0.14076,0.5464 -0.19379,0.8258 -0.42427,2.2350013 -0.12605,4.7004003 0.46972998,6.6244003 1.1915801,3.8477 3.5744001,5.5294 8.0641101,6.2084 4.2091105,0.6365 10.2696305,0.3921 13.7815905,-1.4527 0.23413,-0.1229 0.45697,-0.2532 0.66714,-0.3907 0.21018,-0.1374 0.40756,-0.2823 0.59325,-0.4335 0.18569,-0.1513 0.35967,-0.3088 0.52245,-0.4723 2.27883,-2.2895 2.38835,-5.7024 2.47323,-8.050699 0.097,-2.6838013 0.16182,-3.9770014 -4.3925,-5.6260014 -3.13108,-1.1337 -8.44557,-2.4356999 -12.9516605,-2.4871999 z M 24.204306,24.268776 c -0.59323,10e-5 -1.07379,0.4812 -1.07383,1.0744 4e-5,0.5933 0.4806,1.0744 1.07383,1.0744 0.59334,10e-5 1.07483,-0.481 1.07488,-1.0744 -5e-5,-0.5933 -0.48154,-1.0745 -1.07488,-1.0744 z m -5.47615,2.0082 c -1.11303,10e-5 -2.0153,0.9023 -2.01538,2.0154 8e-5,1.113 0.90235,2.0153 2.01538,2.0153 1.11323,3e-4 2.01582,-0.9021 2.0159,-2.0153 -8e-5,-1.1132 -0.90267,-2.0156 -2.0159,-2.0154 z");
}

.speaker{
    stroke-width: .9;
    stroke:var(--background-color);
    fill:none;
    stroke-linecap: round;
    stroke-linejoin: round;
    d:path("M 6.7071717,14.105986 C 5.8151515,13.000316 5.5807587,11.502747 6.0922875,10.1774 6.6038164,8.8520522 7.7835522,7.9002775 9.1871016,7.6806004 M 7.92822,13.120882 C 7.3881437,12.451453 7.2462271,11.544742 7.5559364,10.742306 7.8656425,9.9398677 8.5799162,9.363615 9.4297019,9.2306107 m 4.3654641,6.4671653 -0.08025,2.900726 1.734292,0.669365 0.07981,-2.896571 z m -2.068011,0.102593 2.316613,-6.0022418 m 4.617149,5.2587828 c -0.469402,1.2162 -1.835854,1.821599 -3.049781,1.346304 L 13.391772,15.53983 10.062539,16.060907 C 9.4569568,16.155709 8.9758656,15.559389 9.19657,14.987546 l 2.4267,-6.2874677 c 0.22071,-0.5718391 0.977682,-0.6903178 1.362558,-0.2132614 l 2.166907,2.6859071 2.155994,0.832123 c 1.216203,0.469404 1.8216,1.835857 1.352198,3.052056 z");
}