header{
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed;    
    display: flex;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    padding: 1.7rem 4rem;
    color: var(--text-color);
    transition: .4s ease-in-out;
}

.scrolled{
    background-color: var(--text-color);
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: .4s ease-in-out;
    color: var(--palette-first);
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, .8);
}

header nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    height: auto;
}

header nav .nav_menu{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
}

header nav .nav_menu .ham-menu{
    width: 25px;
    height: auto;
    z-index: 150;
    display: none;
    flex-direction: column;
    visibility: visible;
    justify-content: space-between;
    cursor: pointer;
    visibility: hidden;
}

header nav .nav_menu .ham-menu span{
    top:50%;
    right:0%;
    height: 2px;
    width:20px;
    position: absolute;
    pointer-events: none;
    border-radius: 1.5px;
    transform-origin: center;
    transform: translateY(-75%);
    background-color: var(--text-color);
}

header nav .nav_menu .ham-menu span:nth-child(1){
    transform: translateY(-300%) rotate(0deg);
    transition: all .4s, transform .3s ease-in-out;
}

header nav .nav_menu .ham-menu span:nth-child(3){
    transform: translateY(150%) rotate(0deg);
    transition: all .4s, transform .3s ease-in-out;
}

header nav .nav_menu .ham-menu span:nth-child(2){
    opacity: 1;
    transition: all .4s, .15s opacity .15s ease-in-out;
    
}

header nav .nav_menu .ham-open span:nth-child(1){
    transform: translateY(-75%) rotate(225deg);
    transition: all .4s, transform .3 ease-in-out;
}

header nav .nav_menu .ham-open span:nth-child(3){
    transform: translateY(-75%) rotate(135deg);
    transition: all .4s, transform .3s ease-in-out;
}

header nav .nav_menu .ham-open span:nth-child(2){
    opacity: 0;
    transition: all .4s, opacity .15s ease-in-out;  
}

header nav .name{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    transition: .4s;
}

header nav .name light{
    font-weight: 300;
}

header nav a{
    color: var(--text-color);
    cursor: pointer;
}


header nav .nav_menu .nav_list{
    position: relative;
    display: flex;
    flex-direction: row;
    gap:1.5rem;
}

header nav .nav_menu .nav_list .nav_item a{
    transition: .5s;
}

header nav .nav_menu .nav_list .nav_item a:hover{
    color: var(--main-color);
}

/*

header nav .non-touch:hover{
    color: var(--main-color);
    transition: .4s;
}
header .menu .non-touch:hover{
    color: var(--main-color);
    transition: .4s;
}


header .menu .active{
    color:var(--main-color);
}

header .menu{
    gap:1.5rem;
    display: flex;
    flex-direction: row;
}
*/


.scrolled nav a{
    color: var(--palette-first);
}

@media screen and (max-width:900px){
    header{
        padding: .6rem 2rem;
        padding-bottom: 1rem;
    }
    .scrolled{
        padding: .6rem 2rem;
    }
}

@media screen and (max-width:800px){
    .scrolled nav .nav_menu .ham-menu span{
        background-color: var(--palette-first);
    }
    .header_open nav .nav_menu .ham-menu span{
        background-color: var(--palette-first);
    }
    header nav .nav_menu .ham-menu{
        display: flex;
        visibility: visible;
    }
    header nav .nav_menu .nav_list{
        position: fixed;
        top: -15rem;
        left: 0%;
        width: 100%;
        padding-top: 3.5rem;
        pointer-events: none;
        padding-bottom: 1.5rem;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--text-color);
        color: var(--palette-first);
        transform: translateY(-110%);  
        transition: transform .5s ease-in-out, top .5s, box-shadow .1s .1s;
    }
    
    header nav .nav_menu .nav_open{
        top:0%;
        transform: translateY(0%);  
        pointer-events: auto;
        box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, .8);
        transition: transform .5s ease-in-out, box-shadow .2s .2s; 
    }
    
    header nav .nav_menu .nav_list .nav_item a{
        color:var(--palette-first);
    }
    

}
