:root{
    --scrolled-transition: 1s;
    --hover-transition:.3s;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7rem;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: row;
    color: #fff;   
    background-color: transparent;
    justify-content: space-between;
    z-index: 120;
    padding-bottom: 0rem;
    transition: var(--scrolled-transition);
}
.scrolled{
    background-color: var(--text-color);
    padding: .2rem 7rem;
    color: var(--palette-second);
    transition: var(--scrolled-transition);
}

nav a{
    cursor: pointer;
    transition: var(--hover-transition);
    align-items: flex-end;
}

nav .name{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

nav .name span{
    font-weight: 300;
}

nav a:hover{
    color:var(--main-color);
    transition: var(--hover-transition);
}

nav .menu{
    display: flex;
    flex-direction:row; 
    align-items: center;
}

nav .menu a + a{
    margin-left: 3rem;
}

nav .menu a{
    text-transform: uppercase;  
    cursor: pointer;
    transition: var(--hover-transition);
}

nav .menu a:hover, .scrolled .menu a:hover{
    color:var(--main-color);
    transition: var(--hover-transition);
}


nav .menu .active,.scrolled .menu .active{
    color:var(--main-color);
}

@media screen and (max-width:1200px){
    nav .name{
        font-size: .6rem;
    }
}

