#Research{
    padding-bottom: 2rem;
}

#Papers{
    padding:0rem;
    overflow: visible;
}

.research-grid{
    display: grid;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    transition: 2s;
}
.research-line{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: .5rem;
    width: auto;
    height: 20rem;
    cursor: pointer;
    box-shadow: 0 15px 15px 3px black;
}

.research-line .research-image{
    position: relative;
    width: 100%;
    height: 100%;
}
.research-line .research-image img{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.research-cover{
    position:absolute;
    z-index: 2;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #081C2900 0%, #081C29EE 60%, #081C29FF 95%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transform: translateY(50%);
    transition: .4s ease-in-out;
}

.research-line:hover > .research-cover{
    transform: translateY(0%);
    opacity: 1;
    transition: .4s ease-in-out;
}




/*PAPER LIST*/
.list-paper-title{
    position: relative;
    text-align: center; 
    color:var(--palette-first);
}
.paper-list-box{  
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items:center;
    background-color: var(--text-color);
    width: 13rem;
    padding:1rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 10px 2px black;
    z-index: 10;   
    transition: 1s, width .2s 1s;
}

.paper-list-open{
    width: 100%;
    height: 100%;
    padding: 1rem 4rem;
    border-radius: 0rem;
    margin-bottom: 0rem;
    transition:all 1s, width .2s, padding .2s;
}

.papers-list{
    overflow: hidden;
    width: 100%;
    height: 0rem;
    z-index: 100;
    transition: 1s;
}

#wrapperPapers{
    padding: 1rem 0rem;
    z-index: 13;
}

#wrapperPapersModel{
    overflow: visible;
    padding:1rem 4rem;
    width: 100%;
    z-index: 2000;
}


#wrapperPapers li::marker{
    color:var(--palette-first);
}

.paper-button-container{
    position: absolute;
    bottom: 0%;
    left:50%;
    width: 2rem;
    height: 2rem;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    transition: .3s ease-in-out, transform 1s ease-in-out;
    pointer-events: none;
    transform: translateX(-50%) translateY(50%);
    z-index: 30;
}


.paper-shadow-container{
    width:2rem; 
    height: 0rem; 
    overflow: visible; 
    z-index: 1;
    margin-bottom: 2rem;
    transition: 1s;
    
}


.paper-list-open ~ .paper-shadow-container{
    margin-bottom: 0rem;
}

.paper-button-shadow{
    position: relative;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 2px 10px 8px black;
    border-radius: 100%;
    transition: 1s ease-in-out;
    z-index: 20;
    transform: translateY(-50%);
}


.papers-button{
    pointer-events: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:2rem;
    height:2rem;
    background-color: var(--text-color);
    border-radius: 100%;
    transition: .2s ease-in-out;
}
.papers-button svg{
    height: 70%;
    transform-origin: center;
    cursor: pointer;
    transition:.3s ease-in-out;
}

.papers-button svg polyline {
    stroke:var(--text-light-second);
    transition: .3s  ease-in-out;
}

.papers-button:hover{
    width: 2.2rem;
    height: 2.2rem;

}

.papers-button:hover svg polyline {
    stroke:var(--main-color);
}

@media screen and (max-width:900px){
    #wrapperPapersModel{
        padding:1rem 1.5rem;
    }
    .paper-list-open{
        padding: 1rem 1rem;
    }
}

@media screen and (max-width:1200px){
    
    .research-grid{
        grid-template-columns: 1fr 1fr;
        transition: 2s;
    }
    .research-line:last-child{
        justify-self: center;
        grid-column-start: span 2;
        width: calc(50% - .5rem);
    }
}

@media screen and (max-width:800px){

    .research-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .research-line:last-child{
        justify-self: center;
        grid-column-start: span 1;
        width: 100%;
    }
}