@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    --background-color:#151515;
}

header{
    width: 100svw;
    height: 100svh;
    position: relative;
    overflow: hidden;
    display: flex;
}

.background{
    position: absolute;
    top: -20px;
    left:-20px;
    right:-20px;
    bottom: -20px;
    background: url('img/hexa_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(10px) brightness(60%);
}

section{
    position: relative;
    
}
section:nth-child(even){
    background-color: var(--background-color);
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    
}

