@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    background-color: #151515;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 0;
}



.background{
    position: absolute;
    background-color: #151515;
}

section{
    position: relative;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #CE3003;
}
