:root{
    --main-color: rgba(0,238,255,1);
    --palette-first: #081C29;
    --palette-second: #0F2C44;
    --text-color:#FEFEFE;
    --news-box: 30rem;
    --text-light:#6F8A91;
    --text-light-second:#BDCACD;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    overflow-x: hidden;
    background-color: var(--palette-first);
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth; 
}

header{
    background-color: transparent;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 1.9rem 7rem;
    color: var(--text-color);
    transition: .4s ease-in-out;
}

.scrolled{
    background-color: var(--text-color);
    padding: .5rem 7rem;
    transition: .4s ease-in-out;
    color: var(--palette-first);
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, .8);
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
}

nav .name{
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

nav .name light{
    font-weight: 300;
}

nav a{
    color: var(--text-color);
    cursor: pointer;
}

.scrolled a{
    color: var(--palette-first);
}


.menu .non-touch:hover{
    color: var(--main-color);
    transition: .4s;
}


.menu .active{
    color:var(--main-color);
}



.menu{
    gap:1.5rem;
    display: flex;
    flex-direction: row;
}


section{
    width: 100%;
    height: auto; 
    background: var(--palette-first);
    color: var(--text-color);
    padding: 3rem 7rem;
    position: relative;
}

.container{
    position: relative;
    width: 100%;
    height:100%;
    overflow: visible;
}

.layout-centred{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

bar{
    max-width: 50%;
    min-height: .2rem;
    width:50%;
    height: .2rem;
    background-color: white;
    margin:1rem 0rem;
}

h1{
    font-size: 2rem;
}

span{
    color: var(--main-color);
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.3rem;
}

h4{
    font-size: 1.1rem;
}

p{
    font-size: 1rem;
}

ul{
    list-style-type: circle;
}

li{
    font-size: .9rem;
    margin-bottom: .5rem;
    margin-left: 1.5rem;
}
li::marker{
    color: var(--text-color);
    font-size: 1.2rem;
}
bf{
    font-weight: 600;
}
up{
    text-transform: uppercase;
}


/*HOME BIO AND NEWS SECTION*/

#Home{
    padding: 5rem 7rem;
    padding-left: 1rem;
    background: transparent;
}

.bio-news{
    overflow: visible!important;
    height: 100%;
    width: 100%;
}

.bio-news .swiper-wrapper .swiper-slide{
    display: flex;
    overflow: visible;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-left: 6rem;
    height: 100%;
}

.glass-box{
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(100%);
    height: 100%;
    background-color: var(--palette-first);
    opacity: 0.85;
    padding: 2rem 2rem;
    box-shadow:  0px 0px 16px 0 rgba(0, 0, 0, .4), 0 12px 40px 0 rgba(0, 0, 0, .4);
    transition: 0.6s;
    border-radius: 1rem; 
    z-index:45;
    justify-content: space-between;
    align-items: center;
}

.shadow{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    left: 0;
    z-index: 50;
    background: linear-gradient(to top, var(--palette-first), transparent);
}

.parallax-bg{
    position: fixed;
    left: -20px;
    top: -20px;
    width: 130%;
    height: 130%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url('img/hexa_background.jpg');
    filter: blur(10px) brightness(70%);
    z-index: -2;
} 

#biography{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 2rem 1rem;
    gap:.5rem;
}

#profilepicture{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.social-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top:2rem!important; 
}

.text-buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem!important;
}

.bio-news .swiper-wrapper .swiper-slide-next{
    pointer-events: none;
}
.bio-news .swiper-wrapper .swiper-slide-active{
    pointer-events: all;
}
.bio-news .swiper-wrapper .swiper-slide-active .closenews{
    width: 40%;
    height: 100%;
    pointer-events: all;
}
.bio-news .swiper-wrapper .swiper-slide-next .closenews{
    pointer-events: none;
    width: 40%;
    height: 100%;
}

.bio-news .swiper-wrapper .swiper-slide .news{
    height: 0%;
    width:0%;
    opacity: 0;
    padding-left:3.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right:2rem;
    display: flex;
    flex-direction: column;
    
}

.bio-news .swiper-wrapper .swiper-slide-active .news{
    height: 100%;
    width:60%;
    opacity: 1;
}

.bio-news .swiper-wrapper .swiper-slide-next .news{
    height: 3rem;
    opacity: 0;
    width: 3rem;
    padding: 0;
}

.bio-news .swiper-wrapper .swiper-slide-next .news-button:hover + .news{
    opacity: 1;
    height: 5rem;
    width: 3rem;
}

.title{
    width: 100%;
    padding: 2rem;
    opacity: 0;
}
.bio-news .swiper-wrapper .swiper-slide-active .news .title{
    opacity:1;
    transition:.3s ease-in-out;
    transition-delay: .5s;
}

/*ABOUT ME*/
.starting-quote,.ending-quote{
    position: relative;
    justify-content: flex-start;
}

.starting-quote::before{
    content: '';
    background-image: url('left-quote-svgrepo-com.svg');
    position: absolute;
    width: 881px;
    height: 623px;
    top:0;
    left:0;
    transform-origin: bottom left;
    transform:  translateY(-100%) scale(.2) translate(-50%,-10%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.ending-quote::before{
    content: '';
    background-image: url('right-quote-svgrepo-com.svg');
    position: absolute;
    width: 881px;
    height: 645px;
    bottom: 0;
    right:0;
    transform-origin: top right;
    transform:  translateY(calc(100% - 5rem)) scale(.2) translate(50%,10%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}

/*RESEARCH LINES*/
.research-grid{
    display: grid;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    height: 100%;
}

.research-line{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    width: auto;
    height: 20rem;
    cursor: pointer;
    box-shadow: 0 15px 15px 3px black;
}

.research-line .research-image{
    width: 100%;
    height: 100%;
}
.research-line .research-image img{
    position: relative;
    z-index: 1;
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
}

.research-cover{
    position:absolute;
    z-index: 2;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #081C2900 0%, #081C29EE 60%, #081C29FF 95%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    transform: translateY(50%);
    transition: .4s ease-in-out;
}

.research-line:hover > .research-cover{
    transform: translateY(0%);
    opacity: 1;
    transition: .4s ease-in-out;
}

/*LIST OF PAPERS*/
.papers-list{
    width: 100%;
    height: 0rem;
    overflow: hidden;
    transition: 1s ease-in-out;
}


#wrapperPapers{
    margin-top: 1rem;
    
}

.papers-button{
    width:1.5rem;
    height:1.5rem;
    overflow: visible;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    transform-origin: center;
    transition:.5s ease-in-out;
}
.papers-button svg{
    opacity: .5;
    width: 100%;
    height: 100%;
    transition:.2s ease-in-out;
}

.papers-button:hover svg{
    opacity: 1;
    width: 120%;
    height: 120%;
    transition:.2s ease-in-out;
    
}

/*TALKS*/
#Talks{
    padding: 3rem 0rem;
}
.talks{
    width: 100%;
    height: 30rem;
    color: var(--palette-first);
    overflow:visible!important;
    user-select: none;
}

.talks .swiper-wrapper{
    width:100%;
}

.talks .swiper-wrapper .swiper-slide{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width:19.5rem;
    height: 100%;
    filter:blur(4px);
    background: transparent;
    border-radius: 1rem;
}

.talks .swiper-wrapper .swiper-slide-active{
    filter: blur(0px);
}
.talk-wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background: var(--text-color);
    border-radius: 1rem;  
    box-shadow: 0 15px 15px 3px black;
}

.talks-details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 45%;
    padding: 0rem 1rem;
    gap: .4rem;
}

.talks-image{
    position: relative;
    height: 40%;
    width: 100%;
    overflow: hidden;
}


.talks-image img{
    object-fit:cover;
    width: 100%;
}

.autoplay-progress {
    position: relative;
    z-index: 10;
    width:10rem;
    margin-top: .8rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.talks-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    gap:2rem;

}

.talks .swiper-wrapper .swiper-slide-active .talk-wrapper .talks-buttons {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s;
}

.overlayed-color{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--palette-first);
    border-radius: 1rem;
    z-index: -1;
    pointer-events: none;
    
}



.talks-button-prev, .talks-button-next{
    position: absolute;
    width:1.5rem;
    height:1.5rem;
    top:50%;
    z-index: 40;
    transform: translateY(-50%);
}
.talks-button-prev svg, .talks-button-next svg{
    cursor: pointer;
}
.talks-button-prev{
    left:calc(12%);
}
.talks-button-next{
    right:calc(12%);
}

/*ORGANIZATION OF EVENTS*/

.organization{
    width: 100%;
    height: 43rem;
    overflow: visible!important;
    color: var(--palette-first);
}

.organization .swiper-wrapper{
    height: 100%;
}
.organization .background{
    position: absolute;
    width:calc(100% - 12.5rem);
    border-radius: 1rem;
    height: 100%;
    background:var(--text-color);
    box-shadow: 5px 15px 15px 3px black;
    z-index: -10;
}

.organization .swiper-wrapper .swiper-slide{
    position: relative;
    display: flex;
    overflow: visible;
    flex-direction:row;
    align-items: center;
    height: 100%!important;
}

.organization-content{
    position: relative;
    width: calc(100% - 25rem);
    padding: 2rem 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:.2rem;
    overflow: visible;
}


.organization li::marker{
    color:var(--palette-first);
}


.organization-img{
    position: relative;
    width: 25rem;
    height:20rem;
    border-radius: 1rem;
    box-shadow: -5px 13px 25px 3px black;
    transition: ease-in-out .2s, box-shadow 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.organization-img img{
    object-fit: cover;
    min-height: 100%;
}

.organization-button{
    margin-top:auto; 
    margin-bottom: 1rem;
    transition-delay: 0s!important;
}

.organization .organization-pagination {
    position: absolute;
    display: flex;
    justify-content: center;
    width: calc(100% - 15rem);
    z-index: 21;
}
        
.organization .organization-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 5px;
    background: color-mix(in srgb, var(--palette-first) 20%, var(--text-color) 80%);
    opacity: 1;
    transition: all .3s;
}
.organization .organization-pagination .swiper-pagination-bullet-active{
    background:var(--main-color);
    width: 30px;
    opacity: 1;
}


/*TEACHING*/

.teaching-container{
    position: relative;
    width: 100%;
    height: 40rem;
}

.years{
    position: absolute!important;
    top:0rem;
    left:50%;
    transform: translateY(-1rem)translateX(-50%);
    width: 4rem;
    height: 3rem;
    overflow: hidden;
    transition:ease-in-out .4s;
    z-index: 200;
}

.wheel-open{
    width: 20.5rem;
    height: 10.5rem;
    transition:ease-in-out .4s;
    border-radius:0% 0% 50% 50% / 0% 0% 100% 100%;
}

.years .swiper-wrapper{
    width:100%;
}

.years .swiper-wrapper .swiper-slide{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 9rem;
    transform-origin: top;
}


.years .swiper-wrapper .swiper-slide .year{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    height: 0%;
    opacity: 0;
    transition: height ease-in-out .4s,opacity ease-in-out .1s;
    user-select: none;
}
.wheel-open .swiper-wrapper .swiper-slide .year{
    opacity: 1;
    height: 100%;
    transition: height ease-in-out .4s,opacity ease-in-out .1s;
}

.years .swiper-wrapper .swiper-slide-active .year{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    height: 30%;
    opacity: 1;
    transition: height ease-in-out .4s;
    user-select: none;
}

.wheel-open .swiper-wrapper .swiper-slide-active .year{
    height: 100%;
    transition: height ease-in-out .4s;
}

.years .swiper-wrapper .swiper-slide-active .year h3{
    font-size: 1.7rem;
}

.wheel-picker{
    position: absolute;
    width: 0rem;
    height: 0rem;
    background-color: color-mix(in srgb, black 90%, transparent 10%);
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: ease-in-out .4s;
    box-shadow: 0px 0px 4px 2px black;
}

.wheel-open .wheel-picker{
    width: 20rem;
    height: 20rem;
    transition:ease-in-out .4s;
}


.triangle {
    position: absolute;
    width:.4rem; 
    border-bottom:.6rem solid var(--text-color); 
    border-left:.4rem solid transparent; 
    border-right:.4rem solid transparent;
    left:50%;
    top:85%;
    transform-origin: top;
    transform: translate(-50%,0%) rotate(180deg) scale(0);
    transition: ease-in-out .4s;
}

.wheel-open .triangle{
    transform: translate(-50%,0%) rotate(180deg) scale(1);
    transition: ease-in-out .4s;
}


.teaching{
    width: 100%;
    margin:5rem;
}



