#Talks{
    padding: 3rem 0rem;
}
.talks{
    width: 100%;
    height: 30rem;
    color: var(--palette-first);
    overflow:visible!important;
    user-select: none;
}

.talks .swiper-wrapper{
    width:100%;
}

.talks .swiper-wrapper .swiper-slide{
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width:19.5rem;
    height: 100%;
    filter:blur(4px);
    background: transparent;
    border-radius: 1rem;
}

.talks .swiper-wrapper .swiper-slide-active{
    filter: blur(0px);
}
.talk-wrapper{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    background: var(--text-color);
    border-radius: .8rem;  
    box-shadow: 0 15px 15px 3px black;
}

.talks-details{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: .4rem;
    height: 45%;
    padding: 0rem 1rem;
    gap: .4rem;
}

.talks-image{
    position: relative;
    height: 40%;
    width: 100%;
    overflow: hidden;
}


.talks-image img{
    object-fit:cover;
    width: 100%;
}

.talks-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    height: calc(15% - 1rem);
    bottom: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0s;
    gap:2rem;

}

.talks .swiper-wrapper .swiper-slide-active .talk-wrapper .talks-buttons {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s;
}

.overlayed-color{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--palette-second);
    border-radius: 1rem;
    z-index: -1;
    pointer-events: none;
}
.button-container{
    display: flex;
    overflow: visible;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.talks-button-prev, .talks-button-next{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:2rem;
    height:2rem;
    background-color: var(--text-color);
    border-radius: 100%;
    z-index: 40;
    transition: .3s;
}
.talks-button-prev svg, .talks-button-next svg{
    height: 70%;
    transform-origin: center;
    cursor: pointer;
    transition:.3s ease-in-out;
}

.talks-button-prev svg polyline, .talks-button-next svg polyline{
    stroke: var(--text-light-second);
}

.talks-button-prev:hover, .talks-button-next:hover{
    width: 2.2rem;
    height: 2.2rem;
}
.talks-button-prev:hover svg polyline, .talks-button-next:hover svg polyline{
    stroke: var(--main-color);
}

.autoplay-progress {
    position: relative;
    overflow: visible;
    z-index: 50;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.media-button{
    height: 120%;
    width: 120%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    transform-origin: top;
    border-radius: 100%;
    background-color: var(--text-color);
    transition: .3s ease-in-out;
    z-index: 2;
}

.media-button-shadow{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0 5px 10px 15px black;
    border-radius: 100%;
    z-index: 0;
}

.talks-buttons-shadow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-shadow: 0 2px 10px 8px black;
    border-radius: 100%;
    z-index: 0;
    
}


.media-button:hover .playpause{
    background-color:  var(--main-color);
    
}
.media-button .playpause{
    width: 50px;
    height: 50px;
    transform:translateX(0%) scale(40%);
    background-color:  var(--text-light-second);
    clip-path: path('M 0,2.5 Q 0,0 2.5,0 L 17.5,0  Q 20,0 20,2.5 L 20,47.5 Q 20,50 17.5,50 L 32.5,50 Q 30,50 30,47.5 L 30,2.5 Q 30,0 32.5,0 L 47.5,0 Q 50,0 50,2.5 Q 50,25 50,47.5 Q 50,50 47.5,50 L32.5,50 L17.5,50 L2.5,50 Q 0,50 0,47.5 Z');
    transition: .3s ease-in-out;
}

.media-button .play{
    transform:translateX(3%) scale(40%);
    clip-path: path('M 0,5 Q 0,0 4.4720785,2.2360392 L 25,12.5  Q 25,12.5 25,12.5 L 25,37.5 Q 25,37.5 25,37.5 L 25,37.5 Q 25,37.5 25,37.5 L 25,12.5 Q 25,12.5 25,12.5 L 45,22.5 Q 45,22.5 45,22.5 Q 50,25 45,27.5 Q 45,27.5 45,27.5 L 25,37.5 L 25,37.5 L 4.4720785,47.7639608 Q 0,50 0,45 Z');
}

.progress-circle{
    width: 120%;
    height: 120%;
    position: absolute;
    overflow: visible;
    justify-self: center;
    transform-origin: top;
    z-index: 1;
    transition: .3s ease-in-out;
}
.progress-circle svg{
    overflow: visible;
}

.media-button:hover, .media-button:hover ~ .progress-circle{
    transform: scale(110%);
}


.progress-bar{
    position: relative;
    stroke:var(--main-color);
    stroke-width:.4rem;
    fill:transparent;
    transform-origin: center;
    transform: rotate(-87deg);
    transition: opacity .2s ease;
}


@media screen and (max-width:800px){
    .talks{
        height: 28rem;
    }
    .talks .swiper-wrapper .swiper-slide{
        width: 17rem;
    }
    .talks-image{
        height:35%;
    }
    .talks-buttons{
        height:calc(25% - 1rem);
    }
}